.content {
    flex: 1;
    color: white;
    margin-top: 60px;
    border-left: 2px solid #333;
    background-color: #666;
    overflow: clip;
    height: 90vh;
}

.products th {
    padding: 10px;
}

.products td {
    padding: 10px;
}